<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>

    <header>
        <h2><a th:href="@{/}" class="Cinemador">Cinemador 🚬</a></h2>
        <div class="menu-button">
            <a th:href="@{/cinemador/login}" class="button">
                <span>Iniciar Sesion</span>
            </a>
        </div>
        <div class="menu-button">
            <a th:href="@{/cinemador/registro}" class="button">
                <span>Crear Cuenta</span>
            </a>
        </div>
    </header>

    <style th:replace="~{base :: style}"></style>



    <section class="principalpage">

        <div class="databox">
            <div class="formulariocarga">
                <div class="message" th:if="${message != null}">
                    <!--aca va el mensaje-->
                    [[${message}]]
                </div>
                <form th:action="@{/registro}" th:object="${usuario}" id="registroForm" role="form" method="POST">
                    <div>
                        <label for="nombre">Nombre *</label>
                        <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required>
                    </div>
                    <div>
                        <label for="apellido">Apellido *</label>
                        <input type="text" id="apellido" name="apellido" th:field="*{apellido}" required>
                    </div>
                    <div>
                        <label for="email">Email *</label>
                        <input type="email" id="email" name="email" th:field="*{email}" required>
                    </div>
                    <div>
                        <label for="password">Password *</label>
                        <input type="password" id="password" name="password" th:field="*{password}">
                    </div>
                    <div>
                        <label for="confirmPassword">Confirmar Contraseña *</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" required>
                    </div>
                    <br>
                    <br>
                    <div class="menu-button">
                        <div class="menu-button-sub">
                            <button type="submit" class="button"><span>Registrar</span></button>
                        </div>
                    </div>
                    <br>
                    <span>Si estas registrado <a th:href="@{/cinemador/login}">inicia sesion aqui</a></span>
                </form>
            </div>
        </div>
        <br>

    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var form = document.getElementById("registroForm");
            form.addEventListener("submit", function (event) {
                var password = form.elements["password"].value;
                var confirmPassword = form.elements["confirmPassword"].value;

                if (password !== confirmPassword) {
                    alert("Las contraseñas no coinciden");
                    event.preventDefault();
                }
            });
        });
    </script>
    <footer th:replace="~{base :: footer}"></footer>
</body>
</html>